<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Document</title>
</head>
<body>
  <nav>
    <div class="title-container">Tasks Planner</div>
    <div class="link-container">
      <a href="/tasks">Daily Task</a>
      <a href="/tasks/new">Add a Task</a>
    </div>
  </nav>
  <div class="task-container">
    <ul>
      <% tasks.forEach(task => { %>
        <p><%= task.date %></p>
        <li>
          <form 
            action="/tasks/<%= task._id %>?_method=DELETE"
            method="POST"
            class="delete-form"
          >
            <button class="delete-button" type="submit">X</button>
          </form>
      <a href="/tasks/<%= task._id %>/edit">Edit<button class="edit-button"></button></a>
      <a href="/tasks/<%= task._id %>"><%= task.detail %></a>
      -
      <% }) %>
    </ul>
  </div>
  <a href="/tasks/new">Add Task</a><br>
  <a href="/">Return</a>
</body>
</html>