<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Document</title>
</head>
<body>
  <nav>
    <div class="title-container">Tasks Planner</div>
    <div class="link-container">
      <a href="/tasks">Daily Task</a>
      <a href="/tasks/new">Add a Task</a>
    </div>
  </nav>
  <h1>Tasks as of <%= date %></h1>
  <ul class="task-container">
    <% tasks.forEach(task => { %>
      <li>
        <form 
          action="/tasks/<%= task._id %>?_method=DELETE"
          method="POST"
          class="delete-form">
          <h3><%= task.date %></h3>
          <button class="delete-button" type="submit">X</button>
        </form>
      <a href="/tasks/<%= task._id %>/edit"><button class="edit-button"></button></a>
      <a href="/tasks/<%= task._id %>"><% task.text %></a>
      -
    <% }) %>
  </ul>
  <a href="/tasks/new">Add Task</a><br>
  <a href="/">Return</a>
</body>