<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Document</title>
</head>
<body>
  <nav>
    <div class="title-container">Tasks Planner</div>
    <div class="link-container">
      <a href="/tasks">Daily Task</a>
      <a href="/tasks/new">Add a Task</a>
    </div>
  </nav>
  <div class="details-container">
    <a href="/tasks/"><h2>Edit Task: <%= task.detail %></h2></a>
    <p>Date: <%= task.date %></p>
    <p>Urgency: <%= task.type %></p>
    <p>Completion: <%= task.completion ? 'Yes' : 'No' %></p>
    <p>ID: <%= task._id %></p>
  </div>
  <a href="/tasks">Go back</a>
</body>
</html>